<html>

<head>
    <title> Ripoff Reddit </title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>

    <script src="/javascripts/angularApp.js"></script>
    <style>
    .glyphicon-arrow-up {
        cursor: pointer
    }
    </style>
    <link rel="stylesheet" href="/stylesheets/students.css">

</head>

<!-- definition of inline templates -->
<body ng-app="flapperNews">
	<div class="container">
		<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
			<ul class="nav navbar-nav">
			  <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
			  <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
			  <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
			  <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
			</ul>
		</nav>

	    <div class="row">
	        	<ui-view></ui-view>

	    </div>
	</div>

	<!-- home template -->
	<script type="text/ng-template" id="/home.html">

  <div class = "pdf">
    <iframe src="https://docs.google.com/viewer?srcid=0B2czhpeUyunkLW5WRHQ5M2o5V1k&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="150px" height="1000px"></iframe>
  </div>

  <div id = "mainPic">
    <img src = "/images/Beyond.png" id = "main" style="width:440px;height:330px;">
  </div>

	<div class = "questions">
		<div class = "posting">
			<input type = "text" placeholder = "Post a question" />
			<div id = "button">
				<button>
					submit
				</button>
			</div>
		</div>
		<input type = "checkbox" >
			hide question feed
		</input>
			<div ng-repeat="post in posts | orderBy: '-upvotes'">
	        <span style="font-size:20px; margin-left:10px;">
			  <span>
			    {{post.title}}
			  </span>
	        </span>
	        <span class="pull-right">
	            {{post.upvotes}}
	            <span class="glyphicon glyphicon-arrow-up" 
	            ng-click="incrementUpvotes(post)"></span> 
	        </span>
	        <span>
			  <a href="#/posts/{{post._id}}">Answer</a>
			</span>
        </div>

        <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top: 30px;">
            <h3>Add a New Question</h3>

            <div class="form-group">
                <input type="text" 
                class="form-control" 
                placeholder="Question" 
                ng-model="title"></input>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form>
		<div ng-hide="isLoggedIn()">
		  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
		</div>
	</div>

  <div class = "ProfReactions">
    <img src = "">
  </div>
  

	<div class = "reactions">
		<div id = "confused">
			<button id = "confusedbutton" >
				I'm Confused
			</button>
		</div>
    <div id = "lecturepace">
      Overall Pace of Lecture:
      <br>
      <br>
			<button id = "toofast" >
				Too Fast!
			</button>
      <button id = "tooslow" >
				Too Slow
			</button>

		</div>

	</div>

	</script>

	<!-- post comment template -->
	<script type="text/ng-template" id="/posts.html">
	  <div class="page-header">
	    <h3>
	      <a ng-show="post.link" href="{{post.link}}">
	        {{post.title}}
	      </a>
	      <span ng-hide="post.link">
	        {{post.title}}
	      </span>
	    </h3>
	  </div>

	  <div ng-repeat="comment in post.comments">
	    <span style="font-size:20px; margin-left:10px;">
	      {{comment.body}}
	    </span>
	   	by {{comment.author}}
	  </div>

	  <form ng-submit="addComment()"
	  	ng-show="isLoggedIn()"
	    style="margin-top:30px;">
	    <h3>Add a new comment</h3>

	    <div class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="Comment"
	      ng-model="body"></input>
	    </div>
	    <button type="submit" class="btn btn-primary">Post</button>
	  </form>

		<div ng-hide="isLoggedIn()">
		  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
		</div>

	</script>

	<!-- Registration template -->
	<script type="text/ng-template" id="/register.html">
	  <div class="page-header">
	    <h1> Ripoff Reddit</h1>
	  </div>

	  <div ng-show="error" class="alert alert-danger row">
	    <span>{{ error.message }}</span>
	  </div>

	  <form ng-submit="register()"
	    style="margin-top:30px;">
	    <h3>Register</h3>

	    <div class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="Username"
	      ng-model="user.username"></input>
	    </div>
	    <div class="form-group">
	      <input type="password"
	      class="form-control"
	      placeholder="Password"
	      ng-model="user.password"></input>
	    </div>
	    <button type="submit" class="btn btn-primary">Register</button>
	  </form>
	</script>

	<!-- Login template -->
	<script type="text/ng-template" id="/login.html">
	  <div class="page-header">
	    <h1>Ripoff Reddit</h1>
	  </div>

	  <div ng-show="error" class="alert alert-danger row">
	    <span>{{ error.message }}</span>
	  </div>

	  <form ng-submit="logIn()"
	    style="margin-top:30px;">
	    <h3>Log In</h3>

	    <div class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="Username"
	      ng-model="user.username"></input>
	    </div>
	    <div class="form-group">
	      <input type="password"
	      class="form-control"
	      placeholder="Password"
	      ng-model="user.password"></input>
	    </div>
	    <button type="submit" class="btn btn-primary">Log In</button>
	  </form>
	</script>

</body>

</html>
