
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">


  <link rel="stylesheet" href="students.css">


</head>

<body>

  <div class = "pdf">
    <iframe src="https://docs.google.com/viewer?srcid=0B2czhpeUyunkLW5WRHQ5M2o5V1k&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="150px" height="1000px"></iframe>
  </div>

  <div id = "mainPic">
    <img src = "Beyond.png" id = "main" style="width:440px;height:330px;">
  </div>

	<div class = "questions">
		<div class = "posting">
			<input type = "text" placeholder = "Post a question" />
			<div id = "button">
				<button>
					submit
				</button>
			</div>
		</div>
		<input type = "checkbox" >
			hide question feed
		</input>
			<div ng-repeat="post in posts | orderBy: '-upvotes'">
	        <span style="font-size:20px; margin-left:10px;">
			  <span>
			    {{post.title}}
			  </span>
	        </span>
	        <span class="pull-right">
	            {{post.upvotes}}
	            <span class="glyphicon glyphicon-arrow-up" 
	            ng-click="incrementUpvotes(post)"></span> 
	        </span>
	        <span>
			  <a href="#/posts/{{post._id}}">Answer</a>
			</span>
        </div>

        <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top: 30px;">
            <h3>Add a New Question</h3>

            <div class="form-group">
                <input type="text" 
                class="form-control" 
                placeholder="Question" 
                ng-model="title"></input>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form>
		<div ng-hide="isLoggedIn()">
		  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
		</div>
	</div>

  <div class = "ProfReactions">
    <img src = "">
  </div>
  

	<div class = "reactions">
		<div id = "confused">
			<button id = "confusedbutton" >
				I'm Confused
			</button>
		</div>
    <div id = "lecturepace">
      Overall Pace of Lecture:
      <br>
      <br>
			<button id = "toofast" >
				Too Fast!
			</button>
      <button id = "tooslow" >
				Too Slow
			</button>

		</div>

	</div>

</body>
