.questions {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 30%;
}

.posting {
	background-color: lightgrey;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


input[type = "text"] {
	width: 95%;
	height: 50px;
	padding: 5px;
	font-size: 20px;
}

input[type = "checkbox"] {

	margin-top: 5px;
}

#button {
	margin-top: 10px;
}

#mainPic {
	position: absolute;
	top: 10%;
	right: 45%;
	border-style: solid;
	border-width: 2px;
	margin-bottom: -20px;
}

.feed {
	background-color: lightgrey;
	height: 500px;
	padding: 20px;
	margin-top: 10px;
}

.slides {
	position: absolute;
	left: 20px;
	top: 8px;
	max-width: 200px;
}

.slideEdit {
	height: 130px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 5px;
}

.colorbar {
	position: absolute;
	height: 10px;
	width: 50px;
	top: 150px;
	right: 100px;
	
}

.StressBars {
	position: absolute;
	left: 20px;
	top: 8px;
  	max-width: 10px;
	height: 10000px;
	overflow : hidden;
}

.stressEdit {
	background-color:limegreen;
	height: 130px;
	width: 7px;
	margin-bottom: 5px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;


}

#mainPic {
	position: absolute;
	top: 10%;
	right: 45%;
	border-style: solid;
	border-width: 2px;
	margin-bottom: -20px;
}

#confusedbutton {
	background-color: Salmon;
	position: absolute;
	top: 55%;
	right: 57%;
	height: 40px;
	width: 100px;
	font-size: 10pt;
	border: 1px solid;
	border-radius: 4px;
}

#lecturepace {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	background-color: lightblue;

	position: absolute;
	font-size: 10pt;
	text-align: center;
	max-width: 200px;
	top: 62%;
	right: 53.5%;
}

#toofast {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	float:right;
}

#tooslow {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	float:left;

}


.colorbar {
	position: absolute;
	top: 48%;
	right: 68%;
}

.percentage {
	font-size: 14pt;
	position: relative;
	top: 50px;
	left: 15px;
	width: 300px;
	
}



.gradient {
	position: relative;
	
	transform: rotate(-90deg);
	height: 400px;
	width: 20px;
	overflow: hidden;
	left: 150px;
	bottom: 160px;
}

.nopercent {
	position: relative;
	top: 70px;
	right: 80px;
	
}

.allpercent {
	position: relative;
	top: 50px;
	left: 377px;
	
}

.bar {
	position: relative;
	height: 50px;
	width: 10px;
	background-color: black;
	bottom: 385px;
	right: 40px;
}

.speedometer {
	position: absolute;
	top: 68%;
	right: 54%;
}

.speed {
	position: relative;
	font-size: 14pt;
}

.meter {
	position: relative;
	width: 150px;
	height: 130px; 
	background-image: url(http://image.flaticon.com/icons/png/512/17/17968.png);
	background-size: 150px;
	right: 15px;

}

.cover {
	height: 50px;
	width: 50px;
	background-color: white;
	position: relative;
	bottom: 80px;
	left: 40px;
}

.toofast {
	position: relative;
	left: 140px;
	bottom: 71px;
	font-size: 12;
}

.tooslow {
	position: relative;
	bottom: 88px;
	right: 70px;
	font-size: 12;
}

.arrow {
	position: relative;
	font-size: 32pt;
	left: 48px;
	bottom: 195px;
}

.circle {
	position: relative;
	height: 12px;
	width: 12px;
	border-radius: 12px;
	background-color: black;
	bottom: 205px;
	left: 53px;
}

.turtle {
	position: relative;
	height: 30px;
	width: 40px;
	bottom: 216px;
	right: 63px;
}

.bunny {
	position: relative;
	height: 40px;
	width: 40px;
	bottom: 220px;
	left: 100px;
}